<nav class="navbar" role="navigation">
    <ul class="nav navbar-nav">
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <% if (user) { %>
                <a href="/logout">Log Out</a>
                <% } else { %>
                    <a href="/login">Log In</a>
                    <% } %>
        </li>
    </ul>
</nav>
