<!-- <div class="login-form">
    <div ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
    <form name="form" ng-submit="vm.login()" role="form">
        <div class="form-group">
            <label for="login" class="control-label">Login</label>
            <div>
                <input type="text" name="username" id="login" class="form-control" ng-model="vm.username" required />
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Login is required</span>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <div>
                <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-default btn-block">LOGIN</button>
        </div>
    </form>
</div> -->


<div class="content-container">
<div ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
        <div class="article-container">
            <form name="form" action="/api/users/login" method="post">
                Email:<br>
                <input type="text" name="email" id="email" class="form-control" ng-model="vm.email" required />
                <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Login is required</span>
                <br> Password:
                <br>
                <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                <br>
                <!-- <input class="create-btn" type="submit" value="LogIn"> -->
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn create-btn btn-default btn-block">LOGIN</button>
            </form>
        </div>
        <div class="article-container">
          <p>
              For testing you can use exist user (email: test@tut.by, password: 111)
              or you can create new user.
          </p>
        </div>
    </div>
