<!DOCTYPE html>
<html>

<head>
    <title>
    </title>

    <link rel='stylesheet' href='/css/layout.css' />
    <link rel='stylesheet' href='/css/article.css' />
    <link rel='stylesheet' href='/css/navbar.css' />

</head>

<body>
    <div class="header-container">
        <div class="wrapper">
            <div class="header-content">
                <div class="logo">
                    <a href="https://nodejs.org/">Powered by NodeJs</a>
                </div>
            </div>

        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../build/index.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>
