<!DOCTYPE html>
<html ng-app='app'>

<head>
    <title>
    </title>

    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/layout.css' />
    <link rel='stylesheet' href='/css/article.css' />
    <link rel='stylesheet' href='/css/navbar.css' />

</head>

<body>
    <div class="header-container">
        <div class="wrapper">
            <div class="header-content">
                <div class="logo">
                    <a href="https://nodejs.org/">Powered by NodeJs and Angular 1.6.1</a>
                </div>
            </div>

        </div>
    </div>

    <top-navigation></top-navigation>
     <ng-view></ng-view>

    <script src="/angular/vendor/jquery/jquery-1.11.1.js"></script>
    <script src="/angular/vendor/jquery/jquery-ui.js"></script>
    <script src="/angular/vendor/bootstrap.js"></script>

    <script src="/angular/vendor/angular/angular.min.js"></script>
    <script src="/angular/vendor/angular/angular-route.min.js"></script>
    <script src="/angular/vendor/angular/angular-bootstrap-multiselect.js"></script>
    <script src="/angular/vendor/angular/angular-animate.js"></script>
    <script src="/angular/vendor/angular/angular-sanitize.js"></script>
    <script src="/angular/vendor/ui-bootstrap/ui-bootstrap-tpls-1.3.3.min.js"></script>

    <script src="/angular/Shared/app.shared.js"></script>
    <script src="/angular/Shared/Directives/topNavigation.js"></script>
    <script src="/angular/Shared/Directives/articles.js"></script>
    <script src="/angular/Shared/Directives/createUpdateArticleForm.js"></script>
    <script src="/angular/Shared/Services/userService.js"></script>
    <script src="/angular/Shared/Services/articleService.js"></script>
    <script src="/angular/Shared/Constants/apiRoutes.js"></script>
    <script src="/angular/Shared/Constants/menuItems.js"></script>

    <script src="/angular/app.js"></script>
    <script src="/angular/route-config.js"></script>    

    <script src="/angular/Login/loginCtrl.js"></script>

</body>

</html>
